<div class="col-xs-12">
  <%= form_for(@game, html: { class: "form-horizontal", role: "form" }) do |f| %>
      <% if @game.errors.any? %>
          <div class="alert alert-danger alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h4>

            <ul>
              <% @game.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <%= f.hidden_field :user_id, value: current_user.id %>
      <h2>Name of the Game</h2>
      <%= f.text_field :name, class: "form-control", placeholder: 'Name of the Game' %>

      <h2>Players</h2>

      <ul class="list-group">
        <% current_user.players.each do |player| %>
            <% selected = @game.players.include?(player) %>
            <%= content_tag 'a', class: "list-group-item selectable #{selected ? 'selected' : ''}", id: "player_link_#{player.id}", data:{field: 'game[players]', value: player.id, actions: 'updateForm'} do %>
              <%= player.name %>
                <% if selected %>
                  <%= hidden_field_tag 'game[players][]', player.id, id: 'game_players_' + player.id.to_s %>
                <% end %>
            <% end %>
        <% end %>
      </ul>

      <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>

