<% added_player = @player %>

<% if @players.size > 0 %>
    <div class="col-xs-12">
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
          <thead>
          <tr>
            <th>Name</th>
          </tr>
          </thead>

          <tbody>
          <%= content_tag_for(:tr, @players) do |player| %>
              <td class="<%= added_player && added_player == player ? 'added_player' : '' %>"><%= link_to player.name, player %>
                <%= link_to 'Remove', player, method: :delete, data: { confirm: 'Are you sure you want to remove this player and all player history?' }, style: 'float: right;' %>
              </td>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
<% end %>

<% @player = Player.new %>

<div class="col-xs-12">
  <h2>Add A Player</h2>
  <%= render 'players/form', locals: {remote: true} %>
</div>

